@charset "utf-8";
/* CSS Document */
@font-face { /* ---------CUSTOM FONT CSS--------- */
	font-family: 'Ubuntu Regular';
	src: url('../Fonts/Ubuntu-Regular.ttf') format('truetype');
}
#navbar1{
	font: "Ubuntu Regular";
	padding: 10px;

}
#wrapper {
	width: 100%;
	display: flex;
	flex-direction: column; 
	min-height: 100%;
	position: relative;
	margin-top: 60px;
}
body,html {
	background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	text-align:center;
	color: #ffffff;
}

#title{
	margin: 0px;
	text-align: center;
	color: white;
	font: "Ubuntu Regular";
}
/* ---------START OF FOOTER CSS--------- */
#footer {
	background-color: #3d3d3d;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	height: 55px;
	color: #ffffff;	
	left: 0px;
	bottom: 0px;
	position: absolute;
}
table, td, th {
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	text-decoration: none;
}
/* ---------END OF FOOTER CSS--------- */